/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*	header start*/
header{
	padding:0;
}
.logo{
	width:170px;
}
.menu ul li a {
    margin-bottom: 10px;
    padding: 0 12px !important;
}
.btn_sign {
    margin-bottom: 5px;
    margin-left: 5px;
}
/*	banner start*/
.banner{
	padding: 0 0 60px;
}
.b_img {
	margin-bottom:30px;
    padding: 0;
}
.b_text {
    text-align: center;
}
.bh1{
	padding: 0;
	font-size: 30px;
	line-height: 40px;
}
.bp2{
	padding: 0;
	line-height: 24px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.s_feature{
	margin:30px 0 0;
	padding:45px 0 40px;
}
.s_img{
	width: 55px;
	height: 75px;
}
.s_h2{
	margin:15px 0 0;
	font-size: 20px;
}
/*course start*/
.c_title h1 {
    font-size: 25px;
    line-height: 35px;
}
.c_course{
	margin: 30px 0 0;
	padding: 20px 15px 25px;

}
.co_h2 {
    font-size: 20px;
}
.c_left ul li img, .c_right ul li img {
    width: 20px;
}
.c_left ul li span, .c_right ul li span {
	margin-left: -9px;
    font-size: 15px;
    font-weight: 400;
}
/*course end*/
/*testimony start*/
.t_item {
    margin-top: 30px;
}
.t_img{
	padding: 0 50px 20px;
}
.t_text{
	text-align: center;
}
/*footer top start*/
.footer_top{
	padding: 55px 0 20px;
	text-align: center;

}
.ft_details{
	margin-bottom: 35px;
	padding-right: 0;
}
.ft_links{
	margin-bottom: 35px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*	header start*/
header{
	padding:0;
}
	.menu ul li a {
    margin-bottom: 10px;
    padding: 0 12px !important;
}
.btn_sign {
    margin-bottom: 5px;
    margin-left: 5px;
}
/*	banner start*/
.banner{
	padding: 0 0 60px;
}
.b_img {
	margin-bottom:30px;
    padding: 0 20px;
}
.b_text {
    text-align: center;
}
.bh1{
	padding: 0 70px 0;
	font-size: 35px;
	line-height: 40px;
}
.bp2{
	padding: 0 50px;
	line-height: 24px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.s_feature{
	margin:30px 0 0;
	padding:45px 0 40px;
}
.s_img{
	width: 55px;
	height: 75px;
}
.s_h2{
	margin:15px 0 0;
	font-size: 20px;
}
/*course start*/
.c_title h1 {
    font-size: 25px;
    line-height: 35px;
}
.c_course{
	margin: 30px 70px 0;
	padding: 20px 15px 25px;

}
.co_h2 {
    font-size: 20px;
}
.c_left ul li img, .c_right ul li img {
    width: 20px;
}
.c_left ul li span, .c_right ul li span {
	margin-left: -9px;
    font-size: 15px;
    font-weight: 400;
}
/*course end*/
/*testimony start*/
.t_item {
    margin-top: 30px;
}
.t_img{
	padding: 0 120px 20px;
}
.t_text{
	text-align: center;
}
/*footer top start*/
.footer_top{
	text-align: center;

}
.ft_details {
    padding: 0 70px 35px 70px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*	header start*/
header{
	padding:10px 0;
}
	.menu ul li a {
    margin-bottom: 10px;
    padding: 0 12px !important;
}
.btn_sign {
    margin-bottom: 5px;
    margin-left: 5px;
}
/*	banner start*/
.b_img {
	margin-bottom:30px;
    padding: 0 50px;
}
.b_text {
    text-align: center;
}
.bh1{
	padding: 0 90px 0;
}
.bp2{
	padding: 0 90px 0;
}
/*feature start*/
.c_padding{
	padding-bottom: 80px;
}
/*course start*/
.c_course{
	margin: 40px 100px 0;
	padding: 20px 15px 25px;

}
/*testimony start*/
.t_item {
    margin-top: 40px;
}
/*footer top start*/
.footer_top{
	text-align: center;

}
.ft_details {
    padding: 0 80px 35px 80px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*	banner start*/
.bh1 {
    padding: 0 30px 0 0;
}	
/*course start*/
.c_course{
	padding: 20px 15px 25px;

}
c_left ul li img, .c_right ul li img {
    width: 20px;
}
.c_left ul li span, .c_right ul li span{
	margin-left: -9px;
	font-size: 15px;
	font-weight: 500;
}
/*course end*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*	banner start*/
.bh1 {
    padding: 0 25px 0 0;
}
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
/*footer top start*/
.ft_details{
	padding-right: 130px;
}
/*footer top end*/
}